<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.Crawel.dao.UserMapper">

    <resultMap id="userMap" type="com.yue.Crawel.model.User">
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="login" resultMap="userMap">
        select * from User where username = #{userName} and password = #{password} and role = #{role}
    </select>

    <insert id="register">
        insert into User (username, password, role) values (#{userName}, #{password}, #{role})
    </insert>

    <select id="getAllUser" resultMap="userMap">
        SELECT  * from User where role = "user"
    </select>

    <delete id="deleteUser">
        delete from User where username = #{userName}
    </delete>

    <update id="updateUser">
        update User set username = #{userName}, password = #{password} where username = #{initialUserName}
    </update>

    <insert id="createUser">
        insert into User(username,password,role) values (#{userName}, #{password},"user")
    </insert>
</mapper>